html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}


.text{
    font-size: 25px;
}

.row5{
    width: 20%;
    background-color: blueviolet;
    float: left;
}

.row2{
    width: 50%;
    margin-bottom:10px ;
    /* display: inline-block; */
    float: left;
}

.row{
    margin-bottom: 10px;
    width: 100%;
}

.container{
    width: 100%;
    /* height: 100%; */
    background-color: blue;
}

.box-top{
    height: 70px;
    margin-left: 15%;
    margin-right: 15%;

    
}
.box-top-title{
    display: inline-block;
}

.box-top-login{
    display: inline-block;
    float: right;
    color:white;
}

.input-email{
    float: left;
    display: inline-block;
}

.input-pass{
    margin-left:10px;
    float: left;
    display: inline-block;
}

.btn-ok{
    display: inline-block;
}

.btn-ok button{
    background-color: blue;
    color: white;
}
.input-pass input{
    margin-right: 7px;
}
.box-top-title span{
    font-size: xx-large;
    color: white;
}


/* content */
.container-content{
    width: 100%;
    height: 80%;
    background-color: azure;
}

.section1{
    margin-top: 60px;
    display:inline-block;
    width: 50%;
    /* background-color: blue; */
}

.section2{
    margin-top: 50px;
    float: right;
    display:inline-block;
    width: 50%;
}

.row2 input{
    /* float: right; */
    display: inline-block;
    width: 78%;
    /* background-color: blue; */
}

.footer{

    height: 70px;
    /* background-color: red; */
}

.container-footer{
    margin-left: 15%;
    margin-right: 15%;
}

.container-footer li{
    text-decoration: none;
    display: inline;
    margin-left: 10px;
}


/* 

positioning (static,absolute,relative,fixed,..) ?
display (default,inline,block,inline-block) ?
1.Bagaimana menggunakan property margin right dan margin top jika parent menggunakan property width 100%.
2.float jika right tdk terbaca



*/